name: 'Build .NET 9'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build_v9.yml'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build_v9.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  # renovate: datasource=github-tags packageName=dotnet/aspire depName=dotnet9-aspire
  DOTNET_ASPIRE_VERSION: 9.5.2
  # renovate: datasource=github-tags packageName=dotnet/core depName=dotnet9-core
  DOTNET_VERSION: 9.0.11
  # renovate: datasource=github-tags packageName=dotnet/runtime depName=dotnet9-runtime
  DOTNET_RUNTIME_VERSION: 9.0.11
  # renovate: datasource=github-tags packageName=dotnet/aspnetcore depName=dotnet9-aspnetcore
  DOTNET_ASPNETCORE_VERSION: 9.0.11
  # renovate: datasource=github-tags packageName=dotnet/sdk depName=dotnet9-sdk
  DOTNET_SDK_VERSION: 9.0.308

jobs:
  build_aspire:
    name: Build Aspire
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Checkout dotnet/aspire
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: dotnet/aspire
          ref: v${{ env.DOTNET_ASPIRE_VERSION }}
          path: aspire

      - name: Configure
        run: |
          set -x

          patch -p1 < patches/aspire_fix-gitinfo-target.patch

      - name: Build
        run: |
          set -x
          source common.sh
          calculate_build_id v${{ env.DOTNET_ASPIRE_VERSION }}

          aspire/build.sh --restore --build --ci --configuration Release --pack -p:InstallBrowsersForPlaywright=false -p:SkipTestProjects=true -p:OfficialBuildId=$OFFICIALBUILDID

      - name: List artifacts
        run: ls -lR aspire/artifacts

      - name: Upload Packages Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages-aspire
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            aspire/artifacts/packages/Release/Shipping/Microsoft.*.nupkg

  build_runtime:
    name: Build Runtime
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        architecture:
          - x64
          - arm64
    steps:
      - name: Prepare
        run: |
          df -h /
          # Android
          sudo rm -rf /usr/local/lib/android || true
          df -h /
          sudo rm -rf /usr/share/dotnet || true
          df -h /

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Checkout dotnet/runtime
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: dotnet/runtime
          ref: v${{ env.DOTNET_RUNTIME_VERSION }}
          path: runtime

      - name: Build x64
        if: matrix.architecture == 'x64'
        uses: docker://mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net9.0-cross-freebsd-14-amd64
        env:
          NUGET_PACKAGES: /github/workspace/.nuget/packages
          ROOTFS_DIR: /crossrootfs/x64
        with:
          args: /bin/sh -c "source /github/workspace/common.sh && calculate_build_id v${{ env.DOTNET_RUNTIME_VERSION }} && /github/workspace/runtime/eng/build.sh --ci --configuration Release --cross --os freebsd --arch x64 /p:IncludeSymbols=false /p:OfficialBuildId=$OFFICIALBUILDID --subset Clr.Native+Host.Native && /github/workspace/runtime/eng/build.sh --ci --configuration Release --cross --os freebsd --arch x64 /p:IncludeSymbols=false /p:OfficialBuildId=$OFFICIALBUILDID /p:AppHostSourcePath=/github/workspace/runtime/artifacts/obj/freebsd-x64.Release/apphost/standalone/apphost"

      - name: Build arm64
        if: matrix.architecture == 'arm64'
        uses: docker://mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net9.0-cross-freebsd-14-arm64
        env:
          NUGET_PACKAGES: /github/workspace/.nuget/packages
          ROOTFS_DIR: /crossrootfs/arm64
        with:
          args: /bin/sh -c "source /github/workspace/common.sh && calculate_build_id v${{ env.DOTNET_RUNTIME_VERSION }} && /github/workspace/runtime/eng/build.sh --ci --configuration Release --cross --os freebsd --arch arm64 /p:IncludeSymbols=false /p:OfficialBuildId=$OFFICIALBUILDID --subset Clr.Native+Host.Native && /github/workspace/runtime/eng/build.sh --ci --configuration Release --cross --os freebsd --arch arm64 /p:IncludeSymbols=false /p:OfficialBuildId=$OFFICIALBUILDID /p:AppHostSourcePath=/github/workspace/runtime/artifacts/obj/freebsd-arm64.Release/apphost/standalone/apphost"

      - name: List artifacts
        run: ls -lR runtime/artifacts

      - name: Upload Packages Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages-runtime-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            runtime/artifacts/packages/Release/Shipping/dotnet-runtime-*-freebsd-*.tar.gz
            runtime/artifacts/packages/Release/Shipping/Microsoft.*.freebsd-*.*.nupkg

  build_aspnetcore:
    name: Build ASP.NET Core
    needs: build_runtime
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        architecture:
          - x64
          - arm64
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Checkout dotnet/aspnetcore
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: dotnet/aspnetcore
          ref: v${{ env.DOTNET_ASPNETCORE_VERSION }}
          path: aspnetcore
          submodules: true

      - name: Update submodules
        run: git -C aspnetcore submodule update --init

      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24.x

      - name: Download Runtime Packages Artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: packages-runtime-${{ matrix.architecture }}
          path: runtime/artifacts/packages/Release/Shipping

      - name: Configure
        run: |
          set -x

          dotnet nuget add source ../runtime/artifacts/packages/Release/Shipping/ --name local --configfile aspnetcore/NuGet.config

          mkdir -p aspnetcore/artifacts/obj/Microsoft.AspNetCore.App.Runtime
          cp runtime/artifacts/packages/Release/Shipping/dotnet-runtime-*-freebsd-*.tar.gz aspnetcore/artifacts/obj/Microsoft.AspNetCore.App.Runtime

      - name: Build
        run: |
          set -x
          source common.sh
          calculate_build_id v${{ env.DOTNET_ASPNETCORE_VERSION }}

          aspnetcore/eng/build.sh --ci --os-name freebsd --arch ${{ matrix.architecture }} --configuration Release --all --no-build-java --pack /p:CrossgenOutput=false /p:TreatWarningsAsErrors=false /p:IncludeSymbols=false /p:SkipTestBuild=true /p:OfficialBuildId=$OFFICIALBUILDID

      - name: List artifacts
        run: ls -lR aspnetcore/artifacts

      - name: Upload Packages Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages-aspnetcore-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            aspnetcore/artifacts/packages/Release/Shipping/Microsoft.*.freebsd-*.*.nupkg

      - name: Upload Installers Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: installers-aspnetcore-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            aspnetcore/artifacts/installers/Release/aspnetcore-runtime-*-freebsd-*.tar.gz

  build_sdk:
    name: Build SDK
    needs:
      - build_aspire
      - build_runtime
      - build_aspnetcore
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        architecture:
          - x64
          - arm64
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Checkout dotnet/sdk
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: dotnet/sdk
          ref: v${{ env.DOTNET_SDK_VERSION }}
          path: sdk

      - name: Download Aspire artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: packages-aspire
          path: aspire/artifacts/packages/Release/Shipping

      - name: Download Runtime artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: packages-runtime-${{ matrix.architecture }}
          path: runtime/artifacts/packages/Release/Shipping

      - name: Download ASP.NET Core packages artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: packages-aspnetcore-${{ matrix.architecture }}
          path: aspnetcore/artifacts/packages/Release/Shipping

      - name: Download ASP.NET Core installers artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: installers-aspnetcore-${{ matrix.architecture }}
          path: aspnetcore/artifacts/installers/Release

      - name: Configure
        run: |
          set -x

          dotnet nuget add source ../aspire/artifacts/packages/Release/Shipping --name aspire --configfile sdk/NuGet.config
          dotnet nuget add source ../runtime/artifacts/packages/Release/Shipping/ --name runtime --configfile sdk/NuGet.config
          dotnet nuget add source ../aspnetcore/artifacts/packages/Release/Shipping/ --name aspnetcore --configfile sdk/NuGet.config

          mkdir -p sdk/artifacts/obj/redist/Release/downloads/ sdk/artifacts/obj/redist-installer/Release/downloads/

          cp runtime/artifacts/packages/Release/Shipping/dotnet-runtime-*-freebsd-*.tar.gz sdk/artifacts/obj/redist/Release/downloads/
          cp runtime/artifacts/packages/Release/Shipping/dotnet-runtime-*-freebsd-*.tar.gz sdk/artifacts/obj/redist-installer/Release/downloads/

          cp aspnetcore/artifacts/installers/Release/aspnetcore-runtime-*-freebsd-*.tar.gz sdk/artifacts/obj/redist/Release/downloads/
          cp aspnetcore/artifacts/installers/Release/aspnetcore-runtime-*-freebsd-*.tar.gz sdk/artifacts/obj/redist-installer/Release/downloads/

      - name: Build
        run: |
          set -x
          source common.sh
          calculate_build_id v${{ env.DOTNET_SDK_VERSION }}

          sdk/build.sh --ci --configuration Release --pack /p:OSName=freebsd /p:Architecture=${{ matrix.architecture }} /p:Rid=freebsd-${{ matrix.architecture }} /p:DISABLE_CROSSGEN=True /p:IncludeAspNetCoreRuntime=true /p:OfficialBuildId=$OFFICIALBUILDID

      - name: List artifacts
        run: ls -lR sdk/artifacts

      - name: Upload Packages Artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: packages-sdk-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            sdk/artifacts/packages/Release/Shipping/dotnet-sdk-*

  artifacts:
    name: List artifacts
    needs:
      - build_sdk
    runs-on: ubuntu-latest
    steps:
      - name: Download packages artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: packages-*
          path: packages
          merge-multiple: true

      - name: Download installers artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: installers-*
          path: installers
          merge-multiple: true

      - name: List artifacts
        run: ls -lR packages installers

  release:
    name: Create release
    needs:
      - build_sdk
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.event_name != 'pull_request'
    steps:
      - name: Download packages artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: packages-*
          path: packages
          merge-multiple: true

      - name: Download installers artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: installers-*
          path: installers
          merge-multiple: true

      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: packages/dotnet-runtime-*-freebsd-*.tar.gz,packages/dotnet-sdk-*-freebsd-*.tar.gz,packages/Microsoft.*.freebsd-*.*.nupkg,installers/aspnetcore-runtime-*-freebsd-*.tar.gz
          artifactErrorsFailBuild: true
          draft: false
          generateReleaseNotes: false
          skipIfReleaseExists: true
          name: .NET ${{ env.DOTNET_VERSION }} for FreeBSD (build ${{ github.run_number }})
          tag: v${{ env.DOTNET_SDK_VERSION }}-${{ github.run_number }}
          immutableCreate: true

  publish:
    name: Publish packages
    needs:
      - build_sdk
      - release
    runs-on: ubuntu-latest
    permissions:
      packages: write
    if: github.event_name != 'pull_request'
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Publish packages to Nuget
        uses: ./.github/actions/publish-nuget
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: ${{ github.repository_owner }}
