name: 'Build .NET 10'

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build_v10.yml'
  pull_request:
    branches:
      - 'main'
    paths:
      - '.github/workflows/build_v10.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  # renovate: datasource=github-tags packageName=dotnet/dotnet depName=dotnet10-vmr
  DOTNET_VMR_VERSION: 10.0.100

jobs:
  build_vmr:
    name: Build VMR
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        architecture:
          - x64
          - arm64
    steps:
      - name: Prepare
        run: |
          df -h /
          # Android
          sudo rm -rf /usr/local/lib/android || true
          df -h /
          sudo rm -rf /usr/share/dotnet || true
          df -h /

      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Checkout dotnet/dotnet
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          repository: dotnet/dotnet
          ref: v${{ env.DOTNET_VMR_VERSION }}
          path: vmr

      - name: Configure
        working-directory: vmr
        run: |
          set -xe

          patch -p1 < ../patches/vmr_common_args.patch

      - name: Build x64
        if: matrix.architecture == 'x64'
        uses: docker://mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net10.0-cross-freebsd-14-amd64
        env:
          NUGET_PACKAGES: /github/workspace/.nuget/packages
          ROOTFS_DIR: /crossrootfs/x64
        with:
          args: /bin/sh -c "source /github/workspace/common.sh && calculate_build_id v${{ env.DOTNET_VMR_VERSION }} && cd /github/workspace/vmr && /github/workspace/vmr/build.sh --prep --ci --configuration Release --target-os freebsd --target-arch x64 --target-rid freebsd-x64 --source-build --clean-while-building --branding rtm --official-build-id $OFFICIALBUILDID --verbosity normal -p:CrossBuild=true -p:PortableBuild=true -p:PortableTargetRid=freebsd-x64 -p:KeepNativeSymbols=false -p:IncludeSymbols=false"

      - name: Build arm64
        if: matrix.architecture == 'arm64'
        uses: docker://mcr.microsoft.com/dotnet-buildtools/prereqs:azurelinux-3.0-net10.0-cross-freebsd-14-arm64
        env:
          NUGET_PACKAGES: /github/workspace/.nuget/packages
          ROOTFS_DIR: /crossrootfs/arm64
        with:
          args: /bin/sh -c "source /github/workspace/common.sh && calculate_build_id v${{ env.DOTNET_VMR_VERSION }} && cd /github/workspace/vmr && /github/workspace/vmr/build.sh --prep --ci --configuration Release --target-os freebsd --target-arch arm64 --target-rid freebsd-arm64 --source-build --clean-while-building --branding rtm --official-build-id $OFFICIALBUILDID --verbosity normal -p:CrossBuild=true -p:PortableBuild=true -p:PortableTargetRid=freebsd-arm64 -p:KeepNativeSymbols=false -p:IncludeSymbols=false"

      - name: List artifacts
        run: ls -hlR vmr/artifacts/packages/Release/Shipping vmr/artifacts/assets/Release

      - name: Upload Package Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: artifacts-package-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            vmr/artifacts/packages/Release/Shipping/runtime/Microsoft.NETCore.App.Host.freebsd-*.*.nupkg
            vmr/artifacts/packages/Release/Shipping/runtime/Microsoft.NETCore.App.Runtime.freebsd-*.*.nupkg
            vmr/artifacts/packages/Release/Shipping/aspnetcore/Microsoft.AspNetCore.App.Runtime.freebsd-*.*.nupkg

      - name: Upload Runtime Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: artifacts-runtime-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            vmr/artifacts/assets/Release/Runtime/*/dotnet-runtime-*-freebsd-*.tar.gz
            vmr/artifacts/assets/Release/aspnetcore/Runtime/*/aspnetcore-runtime-*-freebsd-*.tar.gz
            !vmr/artifacts/assets/Release/aspnetcore/Runtime/*/aspnetcore-runtime-composite-*

      - name: Upload Runtime Artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: artifacts-sdk-${{ matrix.architecture }}
          compression-level: 0
          if-no-files-found: error
          retention-days: 1
          path: |
            vmr/artifacts/assets/Release/Sdk/*/dotnet-sdk-*-freebsd-*.tar.gz

  artifacts:
    name: List artifacts
    needs:
      - build_vmr
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: artifacts-*
          path: artifacts
          merge-multiple: true

      - name: List artifacts
        run: ls -hlR artifacts

  release:
    name: Create release
    needs:
      - build_vmr
    runs-on: ubuntu-latest
    permissions:
      contents: write
    if: github.event_name != 'pull_request'
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: artifacts-*
          path: artifacts
          merge-multiple: true

      - name: Create release
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1.20.0
        with:
          artifacts: |
            artifacts/**/Microsoft.*.freebsd-*.*.nupkg
            artifacts/**/dotnet-runtime-*-freebsd-*.tar.gz
            artifacts/**/aspnetcore-runtime-*-freebsd-*.tar.gz
#            artifacts/**/dotnet-sdk-*-freebsd-*.tar.gz
          artifactErrorsFailBuild: true
          draft: false
          generateReleaseNotes: false
          skipIfReleaseExists: true
          name: v${{ env.DOTNET_VMR_VERSION }} for FreeBSD (build ${{ github.run_number }})
          tag: v${{ env.DOTNET_VMR_VERSION }}-${{ github.run_number }}
          immutableCreate: true

  publish:
    name: Publish packages
    needs:
      - release
    runs-on: ubuntu-latest
    permissions:
      packages: write
    if: github.event_name != 'pull_request'
    steps:
      - name: Setup dotnet
        uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5.0.1

      - name: Download artifacts
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: artifacts-*
          path: artifacts
          merge-multiple: true

      - name: Push to GitHub
        shell: sh
        run: dotnet nuget push artifacts/**/Microsoft.*.freebsd-*.*.nupkg --no-symbols --skip-duplicate --source https://nuget.pkg.github.com/${{ github.repository_owner }}/index.json --api-key ${{ secrets.GITHUB_TOKEN }}
